<div id="nav-bar">
    <div id="nav-bar-content">
        <div id="nav-bar-left">
            <div style="font-size: 1.5em;" class="nav-bar-items">ARUSH</div>
        </div>
        <div id="nav-bar-right">
            <div *ngIf="!loggedIn()" (clcik)="onLoginClick()" class="nav-bar-items">LOGIN</div>
            <div *ngIf="loggedIn() && userHasProfile" class="nav-bar-items" >
                Hello, {{getUsername()}}
   </div>
            <div *ngIf="loggedIn()" (click)="onLogoutClick()" class="nav-bar-items">LOGOUT</div>
        </div> 
    </div>
</div>
<router-outlet></router-outlet>
<app-profile [show]="loggedIn() && !userHasProfile"></app-profile>
